{% extends "::fixed_layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        {{ js|raw }}
    </script>
{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>API Documentation</h1>
    </div>

    <div class="container">
        <div class="accordion" id="resources">
            {% block resourceContent %}{% endblock %}
        </div>
    </div>

{% endblock %}
