{% extends "NelmioApiDocBundle::layout.html.twig" %}

{% block content %}
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#resources" href="#resource_{{ loop.index }}">
                {{ resource }}
            </a>
        </div>
        <div id="#resource_{{ loop.index }}" class="accordion-body collapse in">
            <div class="accordion-inner">
                <div class="accordion" id="resource_{{ loop.index }}_endpoints">
                    {% for data in methods %}
                        {% include 'NelmioApiDocBundle::method.html.twig' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <li class="resource">
        <ul class="endpoints">
            <li class="endpoint">
                <ul class="operations">
                    {% include 'NelmioApiDocBundle::method.html.twig' %}
                </ul>
            </li>
        </ul>
    </li>
{% endblock content %}
