{% extends "NelmioApiDocBundle::layout.html.twig" %}

{% block resourceContent %}
    {% for resource, methods in resources %}
        <h4>{{ resource }}</h4>
        {% set resourceId = "resource_" ~ loop.index %}
        <div class="accordion" id="{{ resourceId }}">
            {% for data in methods %}
                {% include 'NelmioApiDocBundle::method.html.twig' %}
            {% endfor %}
        </div>
    {% endfor %}
{% endblock resourceContent %}
