
table.fullwidth {
  width: 100%;
}

#header {
  background-color: #89BF04;
  padding: 1%;
  margin-bottom: 1%;
}

#header h1 {
  font-size: 1.2em;
  float: left;
}

#header a {
  text-decoration: none;
}

#sandbox_configuration {
    float: right;
    padding: 10px 0 10px 0;
}

#colophon {
  margin: 0 15px 40px 15px;
  padding: 10px 0;
  font-size: 0.8em;
  border-top: 1px solid #dddddd;
  font-family: "Droid Sans", sans-serif;
  color: #999999;
  font-style: italic;
}

#resources {
  padding: 0 1%;
  font-family: "Droid Sans", sans-serif;
  font-size: 0.9em;
}

li.resource {
  border-bottom: 1px solid #dddddd;
}
li.resource:last-child {
  border-bottom: none;
}

/* heading */
div.heading {
  border: 1px solid transparent;
  float: none;
  clear: both;
  overflow: hidden;
  display: block;
}
div.heading h2 {
  color: #999999;
  padding-left: 0;
  display: block;
  clear: none;
  float: left;
  font-family: "Droid Sans", sans-serif;
  font-weight: bold;
}
div.heading ul.options {
  overflow: hidden;
  padding: 0;
  display: block;
  clear: none;
  float: right;
  margin: 6px 10px 0 0;
}
div.heading ul.options li {
  float: left;
  clear: none;
  margin: 0;
  padding: 2px 10px;
  border-right: 1px solid #dddddd;
  color: #666666;
  font-size: 0.9em;
}
div.heading ul.options li:first-child,
div.heading ul.options li.first {
  padding-left: 0;
}
div.heading ul.options li:last-child,
div.heading ul.options li.last {
  padding-right: 0;
  border-right: none;
}

/* operations */
li.operation {
  float: none;
  clear: both;
  overflow: hidden;
  display: block;
  margin: 0 0 10px 0;
  padding: 0 0 0 0;
}
li.operation div.heading {
  margin: 0 0 0 0;
  padding: 0;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
}
li.operation div.heading h3 {
  display: block;
  clear: none;
  float: left;
  width: auto;
  margin: 0;
  padding: 0;
  line-height: 1.1em;
  color: black;
}
li.operation div.heading h3 span {
  margin: 0;
  padding: 0;
}
li.operation div.heading h3 span.http_method a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  display: inline-block;
  width: 50px;
  font-size: 0.7em;
  text-align: center;
  padding: 7px 0 4px 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #ccc;
}
li.operation div.heading h3 span.path {
  padding-left: 10px;
}

li.operation div.content {
  border: 1px solid #ddd;
  padding: 10px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  margin: 0 0 20px 0;
  background-color: #f0f0f0;
}
li.operation > div.content {
    border-top:0px;
}
li.operation div.content h4 {
  font-size: 1.1em;
  margin: 0;
  padding: 15px 0 5px 0;
}
li.operation div.content form input[type='text'].error {
  outline: 2px solid #cc0000;
}

/* GET operations */
li.operation.get div.heading {
  border-color: #c3d9ec;
  background-color: #e7f0f7;
}
li.operation.get div.heading h3 span.http_method a {
  background-color: #0f6ab4;
}
li.operation.get div.heading ul.options li {
  border-right-color: #c3d9ec;
  color: #0f6ab4;
}

li.operation.get div.content {
  background-color: #ebf3f9;
  border-color: #c3d9ec;
}
li.operation.get div.content h4 {
  color: #0f6ab4;
}

/* POST operations */
li.operation.post div.heading {
  border-color: #c3e8d1;
  background-color: #def1e5;
}
li.operation.post div.heading h3 span.http_method a{
  background-color: #10a54a;
}
li.operation.post div.heading ul.options li {
  border-right-color: #c3e8d1;
  color: #10a54a;
}

li.operation.post div.content {
  background-color: #ebf7f0;
  border-color: #c3e8d1;
}
li.operation.post div.content h4 {
  color: #10a54a;
}

/* ANY operations */
li.operation.any div.heading {
  background-color: lightgray;
  border-color: gray;
}
li.operation.any div.heading h3 span.http_method a {
  background-color: #000;
}
li.operation.any div.heading ul.options li {
  color: #000;
  border-right-color: gray;
}

li.operation.any div.content {
  background-color: lightgray;
  border-color: gray;
}
li.operation.any div.content h4 {
  color: #000;
}

/* PUT operations */
li.operation.put div.heading {
  background-color: #f9f2e9;
  border-color: #f0e0ca;
}
li.operation.put div.heading h3 span.http_method a {
  background-color: #c5862b;
}
li.operation.put div.heading ul.options li {
  border-right-color: #f0e0ca;
  color: #c5862b;
}

li.operation.put div.content {
  background-color: #faf5ee;
  border-color: #f0e0ca;
}
li.operation.put div.content h4 {
  color: #c5862b;
}

/* DELETE operations */
li.operation.delete div.heading {
  background-color: #f5e8e8;
  border-color: #e8c6c7;
}
li.operation.delete div.heading h3 span.http_method a {
  background-color: #a41e22;
}
li.operation.delete div.heading ul.options li {
  border-right-color: #e8c6c7;
  color: #a41e22;
}

li.operation.delete div.content {
  background-color: #f7eded;
  border-color: #e8c6c7;
}
li.operation.delete div.content h4 {
  color: #a41e22;
}

/* PATCH operations */
li.operation.patch div.heading {
  background-color: #f5e8e8;
  border-color: #e8c6e7;
}
li.operation.patch div.heading h3 span.http_method a {
  background-color: #a41ee2;
}
li.operation.patch div.heading ul.options li {
  border-right-color: #e8c6c7;
  color: #a41ee2;
}

li.operation.patch div.content {
  background-color: #f7eded;
  border-color: #e8c6c7;
}
li.operation.patch div.content h4 {
  color: #a41ee2;
}

/* LINK operations */
li.operation.link div.heading {
  background-color: #F7F7D5;
}
li.operation.link div.heading h3 span.http_method a {
  background-color: #C3D448;
}
li.operation.link div.heading ul.options li {
  color: #C3D448;
}

li.operation.link div.content {
  background-color: #F7F7D5;
}
li.operation.link div.content h4 {
  color: #C3D448;
}

/* UNLINK operations */
li.operation.unlink div.heading {
  background-color: #FFEBDE;
}
li.operation.unlink div.heading h3 span.http_method a {
  background-color: #FF8438;
}
li.operation.unlink div.heading ul.options li {
  color: #FF8438;
}

li.operation.unlink div.content {
  background-color: #FFEBDE;
}
li.operation.unlink div.content h4 {
  color: #FF8438;
}

.toggler {
  cursor: pointer;
}


/** sandbox */
.pane:not(.selected) {
  display: none;
}

.result pre {
  border: none;
  font-size: 0.9em;
  overflow: auto;
}

.result pre.to-shrink,
.result pre.to-expand {
  cursor:pointer;
}

.result pre.to-expand {
  height: 1em;
  overflow:hidden;
}

.tabs li {
  display: inline;
  float: left;
  margin: 10px;
  cursor: pointer;
}

.tabs li.selected {
  font-weight: bold;
}

.panes {
  clear: both;
}

.pane.sandbox {
  border: 1px solid #C3D9EC;
  border-top: none;
  padding: 10px;
}

.pane.sandbox legend {
  padding-bottom: 5px;
}

.remove {
  cursor: pointer;
}

.pane.sandbox .result {
  display: none;
}

form .parameters,
form .headers,
form .request-content {
  float: left;
  width: 33%;
}

.buttons {
  clear: both;
  padding-top: 10px;
}

.request-content textarea {
    width:100%;
    min-width:100%;
    max-width:100%;
    height:5em;
    margin-bottom:10px;
}

.pane.content div ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 10px;
}
